.titulo-certificado {
    font-family: "Source Code Pro", monospace !important;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.img-certificado {
    width: 100%;          
    height: 200px;        
    object-fit: cover;     
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.img-certificado:hover {
    transform: scale(1.05);
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 90%; 
    }
}

/* Remove o espaço em branco (padding) dentro do modal */
#certificadoModal .modal-body {
    padding: 0 !important;
    background-color: #000; /* Fundo preto ajuda a destacar o certificado */
}

/* Garante que a imagem ampliada não herde o corte (object-fit) do card */
#modalImg {
    width: 100%;
    height: auto;      /* Mantém a proporção original do certificado */
    object-fit: contain; /* Garante que a imagem inteira apareça */
    border-radius: 0;   /* Remove arredondamento no modal para ganhar espaço */
}

/* Remove a borda e o fundo padrão do conteúdo do modal */
.modal-content {
    border: none !important;
    background: transparent !important;
}

.modal {
    z-index: 2000 !important; /* Valor alto para ficar acima da navbar */
}
.modal-backdrop {
    z-index: 1999 !important;
}

.minha-nav {
    position: fixed !important;;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out; 
    z-index: 1000;
    background-color: 0.3s ease;
    background-color: transparent;
}

.minha-nav.scrolled {
    background-color: rgba(0, 0, 0, 0.9) !important; /* Fundo preto com leve transparência */
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
    
    .img-certificado {
        height: auto; /* Deixa a imagem do certificado proporcional no celular */
    }
}
