.titulo-certificado {
    font-family: "Source Code Pro", monospace !important;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.img-certificado {
    width: 100%;          
    height: 200px;        
    object-fit: cover;     
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.img-certificado:hover {
    transform: scale(1.05);
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 90%; 
    }
}

/* Modal e Imagens Ampliadas */
#certificadoModal .modal-body {
    padding: 0 !important;
    background-color: #000; 
}

#modalImg {
    width: 100%;
    height: auto;      
    object-fit: contain; 
    border-radius: 0;   
}

.modal-content {
    border: none !important;
    background: transparent !important;
}

.modal {
    z-index: 2000 !important; 
}
.modal-backdrop {
    z-index: 1999 !important;
}

/* Ajustes Mobile Específicos para Certificados */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
    
    .img-certificado {
        height: auto; /* Mantém a proporção da imagem no celular */
        object-fit: contain;
    }

    .titulo-certificado {
        font-size: 1.2rem;
        text-align: center;
    }
}

.img-curriculo {
    width: 100%;          
    height: auto;         /* Isso permite que a altura cresça com a largura */
    object-fit: contain;  /* Garante que a imagem inteira apareça sem cortes */
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.img-curriculo:hover {
    transform: scale(1.05);
}